h1{font-family:Poppins,sans-serif}
p{font-family: Spartan,sans-serif;}
h2{text-align: center;}
p{text-align: center;}
h1{text-align: center;}
div{text-align: center;}
h3{text-align:a;}

.img {
    background:url(https://m.media-amazon.com/images/I/71qY9ooL4dL._AC_UF1000,1000_QL80_.jpg);
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    object-fit: contain;
    object-position: 50% 50%;
}

.img-300 {
    width: 300px;
    height: 300px;
}
